<!DOCTYPE html>
<html>
  <head>
    <title>DudePolicyExample1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <%= link_to 'articles', articles_path %> 
      <%= link_to 'users', users_path %>
    </p>
    <hr>

    <%= yield %>
  </body>
</html>
